Django==5.0.4
ajax-advanced-helpers==1.0.1
django-crispy-forms==1.14.0
django-advanced-menus==1.0.0
django-show-source-code==0.0.8
django-advanced-modals==1.0.0

modal-examples @ git+https://github.com/django-advance-utils/django-advanced-modals@18262a6960b3afe0bd369511c603797aacf55508#subdirectory=django_examples
menu-examples @ git+https://github.com/django-advance-utils/django-advanced-menus@dd3f3a1e40bb6ace1dd40fc49cdd2b5b5768b2ac#subdirectory=django_examples
ajax-examples @ git+https://github.com/django-advance-utils/ajax-advanced-helpers#subdirectory=django_examples
openpyxl==3.0.9
psycopg2==2.9.3
make-html==0.0.3